<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAu_yHUgpFp35o_CmxKwku3v2Is8wphnB4</string>
	<key>GCM_SENDER_ID</key>
	<string>1001418560573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learningapp.firesafetyservicemanagement.FireSafetyServiceManagement</string>
	<key>PROJECT_ID</key>
	<string>firesafety-1ab17</string>
	<key>STORAGE_BUCKET</key>
	<string>firesafety-1ab17.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001418560573:ios:e3e2a896983ab0b598c654</string>
</dict>
</plist>